<nav class="pa2 pa3-ns">
  <h1 class="normal f6 f5-ns dib mr3"><a class="link dim light-gray" href="#">{{title}}</a></h1>
  <div class="fr">
    <button class="bg-dark-pink navy pv2 ph3 bn f6" *ngIf="!voted" (click)="submit()">Submit</button>
    <button class="bg-dark-pink navy pv2 ph3 bn f6" *ngIf="voted" (click)="next()">Next</button>
  </div>
</nav>

<div class="characters">
  <div class="character ma1 pa2 ba b--white-30" *ngFor="let character of characters">
    <img src="assets/images/{{character.photo}}" />
    <h2 class="light-gray normal f5">{{character.name}}</h2>

    <div class="buttons">
      <button class="button bg-gold navy bn pa2" [class.selected]="state.fuck === character.id" (click)="vote('fuck', character.id)">Fuck</button>
      <button class="button bg-gold navy bn pa2" [class.selected]="state.marry === character.id" (click)="vote('marry', character.id)">Marry</button>
      <button class="button bg-gold navy bn pa2" [class.selected]="state.kill === character.id" (click)="vote('kill', character.id)">Kill</button>
    </div>

    <div *ngIf="character.votes">
      <div class="votes">
        <div class="vote pa3 b f3 tc" *ngFor="let vote of character.votes">
          {{character.percentages[vote.value]}}%
        </div>
      </div>

      <div class="pv1">
        <p *ngIf="state.fuck === character.id">
          You said: <strong>fuck</strong>
        </p>
        <p *ngIf="state.marry === character.id">
          You said: <strong>marry</strong>
        </p>
        <p *ngIf="state.kill === character.id">
          You said: <strong>kill</strong>
        </p>
        <p>Survey says: <strong>{{character.conclusion}}</strong></p>
      </div>
    </div>
  </div>
</div>

